<!DOCTYPE html>
<html lang="en">

<%-include("layouts/header");-%>

<body>

  <%-include("layouts/navbar");-%>

  <div class="container">

    <div class="row">
      <div class="col-4 list-container">
        <div class="card">
          <ul class="list-group">
          </ul>
        </div>
      </div>

      <div class="col-8 note-total-area">
        <div class="note-title-area">
          <input class="note-title" placeholder="Note Title" maxlength="28" type="text">
        </div>
        <div class="note-text-area">
          <textarea class="note-textarea" placeholder="Note Text"></textarea>
        </div>
      </div>
  </div>
  </div>

  <%-include("layouts/script");-%>

</body>

</html>